/* -- Import Components -- */
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/dropdown.css");
@import url("components/navbar.css");
@import url("components/scroll.css");
@import url("components/css_form.css");
@import url("components/figure.css");
@import url("components/pricing.css");
@import url("components/flexbox.css");
@import url("components/footer.css");
/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");

/*body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
}
h1, h2, h3 {
  font-family: "Montserrat", "sans-serif";
}*/

h1 {
	/*padding: 100px;*/
	padding-top: 50px;
	font-weight: bolder; 
}

body {	
	background: #e8e8e8;
	font-family: 'Lato', sans-serif;
	/*font-family: 'Poppins', sans-serif;*/
	/*font-weight: bolder;*/
	font-size: 22px;
}

.container {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	background: #FFFFFF;
	/*margin-right: auto;*/
	/*margin-right: auto;*/
	width: 100vh-50px;
	/*shape-margin: 30px;*/

}

#title {
	/*padding: 20px;*/
	/*padding-top: 20px;*/
	padding-bottom: 20px;

}
