<h2><%= @artist_name %> > <%= @album_name %></h2>

<div class="container">
	<div class="box">
      <div id="anim-two">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
</div>