.inbox {
  border: 1px solid #dce0e0;
  padding: 0 20px;
  margin: 0;
  /*list-style: none;*/
}
.message {
  display: flex;
  background: white;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}

.message-body {
  flex-grow: 1;
  font-size: 13px;
  color: rgba(21,21,21,0.7);
}

.message:last-child {
  border-bottom: none;
}

.message-name {
  padding-left: 10px;
  min-width: 100px;
}

.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}


