/* Your banner CSS file */
.banner {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
  background-size: cover;
  height: 100vh;
}

.banner-content {
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
}

h1 {
  color: white;
}

p {
  color:white;
}

.btn-yours {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
}

.btn-yours:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
  transition: background 0.3s ease;
}
