.avatar {
	width: 30px;
	border-radius: 25%;
}

.avatar-large {
	width: 100px;
	border-radius: 50%;
}

.avatar-bordered {
	/*width: 30px;*/
	box-shadow: 0 2px 4px rgba(0,0,0,0.6);
	border: white 1px solid;
	border-radius: 50%
	
}

.avatar-small {
	border-radius: 50%;
}
