.pricing-table {
	margin: 60px auto;
}

.pricing-table::after {
	display: table;
	content: "";
	clear: both;
}

.pricing-table > div {
	display: block;
	float: left;
	width: 48%;
	min-height: 1px;
	background-color: #fff;
	color: #555;
}
/* Passing an antribute for princing table child, BUT NOT the last one */
.pricing-table > div:not(:last-child) {
	margin-right: 2%;
}

.pricing-box {
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
}