<h1 style="font-family: sans-serif;">Web Elements Motion</h1>

<div class="box">
      <div id="anim-two">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
